extends template


block vars
    - var data_jslibraries = "jslibraries-external"
    - var data_bootstrap = "bootstrap-external"
    - var data_assetsFolder = "../_shared/"
    - var data_minifyInfix = "" // .min
    - var data_image_compression = "50" // 50 | 20
    - var data_icons_external = ".icons-external" // .min
    - var data_js_async = false // false || true