extends template


block vars
    - var data_jslibraries = "jslibraries-shaken"
    - var data_css_assets = "bundled_purified"
    - var data_assetsFolder = "../_shared/"
    - var data_minifyInfix = ".min" // .min
    - var data_image_compression = "30" // 50 | 20
    - var data_icons_external = "" // .min
    - var data_js_async = false // false || true