extends template


block vars
    - var data_jslibraries = "jslibraries-shaken"
    - var data_bootstrap = "bootstrap-bundled"
    - var data_assetsFolder = "../_shared/"
    - var data_minifyInfix = ".min" // .min
    - var data_image_compression = "20" // 50 | 20
    - var data_css = ".img200x133{width:200px;height:133px;}.img300x200{width:300px;height:200px;}.img600x400{width:600px;height:400px;}" // .min
